In [1]:
import random

In [25]:
int(8*random.random())

5

In [26]:
data = [0,1,2,3,4,5,6,7,8,9]

In [27]:
range(0,10)

range(0, 10)

In [31]:
for i in range(0,10):
    val = i*2
    print(val)
    print("hello")

0
hello
2
hello
4
hello
6
hello
8
hello
10
hello
12
hello
14
hello
16
hello
18
hello

In [32]:
i = 0
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [35]:
for i in range(0,10):
    if i > 7:
        print("i is huge!")
    elif i < 3:
        print("i is small!")
    else:
        print("Done")

i is small!
i is small!
i is small!
Done
Done
Done
Done
Done
i is huge!
i is huge!

In [39]:
var = "I said, "hello""
print(var)

SyntaxError: invalid syntax (<ipython-input-39-9445ec602f3e>, line 1)

In [42]:
data = ["hello",2,5.0]
data

['hello', 2, 5.0]

In [43]:
for i in data:
    print(i)

hello
2
5.0

In [45]:
def square(value):
    sq = value*value
    return sq

In [46]:
square(5)

25

In [48]:
square([1,2])

TypeError: can't multiply sequence by non-int of type 'list'